
body {
	font-size:  1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}


/*LAYOUT*/

#header{
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}


#logo, #menu-area {
	padding: 10px;
}

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

.whiteBlog{
	color: white;
}

/*LAYOUT MENU*/

a {
	text-decoration: none;
}

a:link, a:visited{
	color: white;
	padding: 8px 12px;
}

a:hover{
	color: #f7b600;
	background: white;
}

/*LAYOUT MAIN AREA*/

#main-area{
	width: 920px;
	margin: 0 auto;
}

#posts, #menu-corner{
	background: orange;
}

#posts{
	width: 660px;
	float: left;
}

#menu-corner{
	width: 240px;
	float: right;
}

.post1{
	padding: 20px;
	margin-bottom: 20px;
	background: white;

}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}
